@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body, html {height:100%;}

body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    background-color: #292929;
    height: 100%;
    overflow: hidden;
}


@media only screen and (min-width: 600px) {
    .container {
        min-width: 375px;
        max-width: 414px;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid black;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 25%);
        height: 80%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #292929;
    }
}

.pwa-promotion {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pwa-promotion .promo-text {
    padding-bottom: 5px;
}

.install-btn {
    height: 49px;
    width: 49px;
}

.top-header {
    font-size: 36px;
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
    color: white;
    font-size: 36px;
    
}

.main {
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    display: flex;
}

.setting {
    width: 70%;
}

.mt-23 {
    margin-top: 23px;
}

.mb-47 {
    margin-bottom: 23px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-23 {
    padding-left: 22px;
}

    .menu-item-btn {
        height: 79px;
        width: 79px;
        border-radius: 50%;
        background: #404040;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        border-color: #404040;
        border-style: none;
        cursor: pointer;
    }


    .menu-item-btn:focus {
        box-shadow: 0px 0px 4px 4px rgba(255, 196, 0, 0.25);
        color: #F27405;
    }

    .menu-item-btn:focus  ~ span {
        color: #F27405;
    }


    .menu-item-btn:hover { 
        color: #F27405;
    }

    .menu-item-btn:hover ~ span { 
        color: #F27405;
        font-weight: bold; 
    }

    .menu-item-btn:disabled,
    .menu-item-btn[disabled] {
        border: 1px solid #999999;
        color: #666666 !important;
        cursor: not-allowed;
    }

    .menu-item-btn:disabled,
    .menu-item-btn[disabled] ~ span { 
        color: #666666 !important;
    }

    .menu-item-label {
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin-left: 10px;
        color: white;
        font-weight: 400;
    }

.monitor {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

#slider {
    height: 399px;
    width: 86px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#slider .ui-slider-handle {
    width: 94px;
    visibility: hidden;
}

.ui-widget.ui-widget-content {
    border: 1px solid #404040;
}

.ui-widget-content { border: 1px solid #ccc; 
    background-color: #404040;
}

.ui-slider-range-min {
    border-radius: 20px;
    background-color: #F27405;
}

.power {
    background-color: #404040;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.hot  {
    background-color: #F20505;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.cold {
    background-color: #05C7F2;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.home  {
    background-color: #F27405;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.text-right {
    align-items: flex-end;
}

.footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mr-28 {
    margin-right: 38px;
}


.device-area {
    position: absolute;
    left: 23px;
    margin-top: 27px;
}

.device-label {
    color: #F27405;
}

/* Spinner  */
.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite, 
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 47;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}